body{
    background-image: url(images/background.jpg);
    color: white;
}

#title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#description,#sample{
    font-family: 'Raleway', sans-serif;
    padding: 2% 10% 2% 10%;
}

#button{
    transition: transform 1.2s;
    text-align: center;
    width: 100%;
}

#exampleModal2{
    text-align: center;
    width: 100%;
}

a:link, a:active, a:hover, a:focus, a:visited{
    color: white;
}

.article{
    margin: auto 0px auto 0px;
}

.post{
    padding: 1%;
    width: 47%;
    transition: transform .2s;
    margin: 1% 0% 0% 1%;
}

#exampleModalLabel{
    font-family: 'Montserrat', sans-serif;
}

td{
    padding: 2% 2% 2% 2%;
}

.post:hover{
    transform: scale(1.1);
}

#footer{
    text-align: center;
}

.thumbnail{
    position: absolute;
    right: 10px;
    width: 30%;
    aspect-ratio: 1/1;
}
